extends layout

block content
  h1=title
  br

  if error
    p Error getting contacts.
  else
    p #[strong Total number of contacts:] #{data.contact_count}
    table.table
      if data.contact_count
        thread
          tr
            th(scope='col') #
            th(scope='col') Name
        tbody
          each contact, index in data.contact_list
            tr
              th(scope='col')=index+1
              td: a(href=contact.url) #{contact.first_name} #{contact.last_name}
      
      else
        div.alert.alert-danger(role='alert') Your have no contact.

  br
  a(href='/manager/contact/create'): button.btn.btn-primary(type='button') Add Contact